/raw_results_uniform_5_shot.csv
/evaluation_metrics_uniform_5_shot.json
/task_performances_uniform_5_shot.csv
/raw_results_uniform_1_shot.csv
/evaluation_metrics_uniform_1_shot.json
/task_performances_uniform_1_shot.csv
