/training_tasks.pkl
/intra_training_task_distances.csv
/training_classes_sampled_together.png
/training_classes_biconfusion.png
/raw_results.csv
/accuracy_v_variance.png
/evaluation_metrics.json
/task_performances.csv
